<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
    "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="org.gbif.pubindex.service.mapper.NameFoundMapper">

  <resultMap type="NameFound" id="nameFoundRecordResult">
    <id property="id" column="id"/>
    <result column="article_fk" property="articleId"/>
    <result column="nub_id" property="nubId"/>
    <result column="source" property="sourceAsInt"/>
    <result column="name" property="name"/>
    <result column="name_verbatim" property="nameVerbatim"/>
    <result column="novum" property="novum"/>
    <result column="offset_start" property="offsetStart"/>
    <result column="offset_end" property="offsetEnd"/>
    <result column="confidence" property="confidence"/>
    <result column="ubio" property="ubio"/>

  </resultMap>

  <sql id="nameFoundBasic">select n.* from name_found n </sql>

  <insert id="insert" parameterType="NameFound" useGeneratedKeys="true" keyProperty="n.id">
    insert into name_found (article_fk, name,
      name_verbatim, novum,
      offset_start, offset_end, confidence, nub_id, source)
    values (#{n.articleId,jdbcType=INTEGER}, #{n.name,jdbcType=VARCHAR},
      #{n.nameVerbatim,jdbcType=VARCHAR}, #{n.novum,jdbcType=BIT},
      #{n.offsetStart,jdbcType=INTEGER}, #{n.offsetEnd,jdbcType=INTEGER}, #{n.confidence,jdbcType=INTEGER},
      #{n.nubId,jdbcType=INTEGER}, #{n.sourceAsInt,jdbcType=SMALLINT})
  </insert>

  <select id="getByArticle" parameterType="int" resultMap="nameFoundRecordResult">
    <include refid="nameFoundBasic"/> where n.article_fk = #{articleID}
  </select>

  <delete id="deleteByArticle" parameterType="int">
    delete from name_found
     where article_fk = #{articleID}
  </delete>

</mapper>
